body{
    max-width:1400px;
    width:100%;
    margin:auto;
    font-family:sans-serif;
}

.div{
    padding:20px;
}

.div-header-h1{
    font-size:20px;
    text-align:center;
}

.div-section-h2{
    border:2px solid #000;
    background-color:#0000ff;
    color:#fff;
    padding:10px;
    font-size:18px;
}

.div-section-ul{
    border-left:2px solid #000;
    height:fit-content;
}

.div-section-ul-li{
    margin-bottom:10px;
}

.div-section-h3{
    font-size:16px;
    display:inline-block;
    padding-bottom:10px;
    border-bottom:2px solid #000;
}

.div-section-div{
    display:flex;
    justify-content:start;
    flex-wrap:wrap;
}

.div-section-div-ul{
    max-width:400px;
    width:100%;
    border-left:2px solid #000;
    height:fit-content;
}

.div-section-div-ul-li{
    margin-bottom:10px;
    margin-right:30px;
}
